.footer__box {
    width: 100%;
    background-color: #181818;
    color: white;
   padding: 3% 10% 5% 10%;
    gap: 2%;
    display: grid;
    grid-template-areas: "a a a b"
    "c c c c";
}
.footer__box__1{
    // display: grid;
    //     grid-template-columns: repeat(5, 1fr);
    grid-area: a;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.link__footer {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border: none;
    background: none;
 width: fit-content;
    font-family: 'Poppins', sans-serif;
  }
  
  .link__footer::before {
    margin-left: auto;
  }
  
  .link__footer::after, .link__footer::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
  }
  
  .link__footer:hover::after, .link__footer:hover::before {
    width: 100%;
  }

.footer__box__2 {
    display: flex;
    text-align: right;
  
    grid-area: b;
    justify-content: space-evenly;
}
.footer__box__3 {

    grid-area: c;
    margin-top: 1rem;
}
.link__footer{
   
    color: white;
}

.fa-brands, .fa-regular{
    color: white;
    font-size: 1.2rem;
}

.dis__footer{
        font-size: 1rem;
        line-height: 1.7rem;
}

.title__footer{
    margin: 1rem 0 2rem 0;
    font-size: 0.9rem;
    line-height: 1.8rem;
}
@media screen and (max-width:1024px) {
    .footer__box {     
        display: grid;
        grid-template-areas: 
        "a a a a"
        "c c c c"
        "b b b b";  
    }
    .fa-brands,
    .fa-regular {
        color: white;
        font-size: 2rem;
    }

     .footer__box__1 {
         display: grid;
             grid-template-columns: repeat(2, 1fr);
         grid-area: a;
        //  display: flex;
        //  flex-wrap: wrap;
         gap: 1rem;
     }
}