.image__motorsport_child {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.image__motorsportsc {
    background-image: url("../assets/image/motorsport/sc/sc.png");
}
.image__motorsporttrofeo {
    background-image: url("../assets/image/motorsport/trofeo/background.jpg");
}
.image__motorsportmodel {
    background-image: url("../assets/image/motorsport/motorsport-Model/background.jpg");
}
.image__motorsportdriver {
    background-image: url("../assets/image/motorsport/driver/background.jpg");
}
.image__motorsportexperience {
    background-image: url("../assets/image/motorsport/experience/background.jpg");
}
.image__motorsportesports {
    background-image: url("../assets/image/motorsport/esports/background.jpg");
}
