.image__ownershipclassic {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    // transform: translateY(-10%);
    background-image: url('../assets/image/ownership/classic/classic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box_ownership_classic_backround {
    width: 50%;
}

.ownership_classic_background {
    font-size: 5rem;
}


@media screen and (max-width:1023px) {
    .sec1_ownershipclassic {
        width: 96%;
        margin: 2%;

    }

    .box_image_sec1_ownershipclassic {
        width: 100%;
        overflow: hidden;



    }



    .image_sec1_ownershipclassic {
        width: 100%;
        min-width: none;
        transform: translateX(-10%) scale(1.3);
    }

    .title_sec1_ownershipclassic,
    .title_sec2_ownershipclassic {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 2% 0;
    }

    .dis_sec2_ownershipclassic,
    .dis_sec2_ownershipclassic {
        font-size: 1.5rem;
        font-weight: 200;
        margin: 1rem 0;
        line-height: 2rem;
    }

    .sec2_ownershipclassic {
        width: 96%;
        margin: 4% 2%;

    }

    .slider_sec2_ownershipclassic {
        width: 100%;

    }

    .box_image_sec2_ownershipclassic {
        width: 100%;
    }

    .image_sec2_ownershipclassic {
        width: 100%;
    }


    .image_sec3_ownershipclassic {
        width: 100%;
    }

    .image_ownershipclassic_mobile {
        transform: scale(1.4);
    }
}


@media screen and (min-width:1024px) {
    .sec1_ownershipclassic {
        width: 100%;
        position: relative;
    }

    .box_image_sec1_ownershipclassic {
        width: 100%;
        transform: translateX(-40%);
    }

    .image_sec1_ownershipclassic {
        width: 100%;
        min-width: 1500px;
    }

    .content_sec1_ownershipclassic {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        background-color: rgb(255, 255, 255);
        clip-path: polygon(65% 0, 100% 0, 100% 100%, 40% 100%);
    }

    .box_content_sec1_ownershipclassic {
        width: 30%;
        margin: 2% 0 0 65%;
    }

    .title_sec1_ownershipclassic {
        font-size: 1.7rem;
        font-weight: 700;
    }

    .dis_sec2_ownershipclassic {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1rem 0;
        font-weight: 100;
    }

    .sec2_ownershipclassic {
        width: 100%;

    }

    .content_sec2_ownershipclassic {
        padding: 5% 10%;
    }

    .title_sec2_ownershipclassic {
        font-size: 1.7rem;
        font-weight: 700;
    }

    .dis_sec2_ownershipclassic {
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 1rem 0;
        font-weight: 100;
    }

    .box_image_sec2_ownershipclassic {
        width: 100%;

    }

    .image_sec2_ownershipclassic {
        width: 100%;
    }

    .image_sec3_ownershipclassic {
        transform: translateX(15%);
    }

    .box_content_sec3_ownershipclassic {
        padding: 10% 0 0 5%;
    }
}