.image__ownership_child {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.image__ownershipconnect {
    background-image: url("../assets/image/ownership/connect/ownerconnect1.jpg");
}
.image__ownershipcustomer {
    background-image: url("../assets/image/ownership/customer/customer1.jpg");
}
.image__ownershipmobility {
    background-image: url("../assets/image/ownership/mobility/mobilityprogram1.jpg");
}
.image__ownershipcampaign {
    background-image: url("../assets/image/ownership/campaign/campaign1.jpg");
}
